STACK_NAME=geos-cf-virtualizarr-data-pipelines
STAGE=dev
ACCOUNT_ID=123456789012
ACCOUNT_REGION=us-east-1

# GC turned off by default
GARBAGE_COLLECTION_FREQUENCY=

# Optional
VPC_ID=
SNS_TOPIC=
ICECHUNK_BUCKET=icechunk-output
GEOSCF_STAGE=preprod
